﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="_Default" MasterPageFile="~/Default.master" Codebehind="Default.aspx.cs" %>

<asp:Content ID="Content3" runat="server" ContentPlaceHolderID="MainContent">
<div class="main">
    <div style="margin-left: 30px; margin-right: 30px">
Успех деятельности любой компании напрямую зависит от людей, которые в ней работают. Любому руководителю хочется создать команду, где <strong>каждый</strong> стремится к реализации поставленных целей и <strong>делает все</strong> для их достижения. Где <strong>работа каждого сотрудника</strong> вносит неоценимый вклад в совместную деятельность и <strong>каждый</strong> готов много и честно зарабатывать как для себя, так и для развития своей фирмы. Но как же построить такую команду? Как не ошибиться и провести грамотный отбор нужного специалиста? И как потом удержать его в команде? Для решения этих вопросов мы предлагаем надежный, удобный в использовании, а главное, эффективный инструмент - систему тестирования персонала Бемкон.

<h2>Система Бемкон позволяет руководителю:</h2>
<ul>
<li>проводить грамотный отбор специалистов с учетом требуемых компетенций и личностных качеств, проводить сравнение кандидатов по единым критериям</li>
<li>проводить оценку профессионально-важных и личностных качеств сотрудников, оценивать соответствие этих качеств конкретной должности в организации</li>
<li>принимать решения о продвижении сотрудников</li>
<li>анализировать психологический климат в коллективе и отслеживать его в динамике</li>
<li>получать оперативные рекомендации ведущих специалистов по работе с коллективом</li>
<li>проводить анализ нематериальной мотивации сотрудников, получать рекомендации по стимулированию труда</li>
</ul>
<h2>Преимущества системы Бемкон:</h2>
<ul>
<li>надежность: основана на ведущих зарекомендованных методиках оценки персонала</li>
<li>простота в использовании: для ее запуска требуется только наличие Интернета. Интерфейс интуитивно понятен</li>
<li>гибкость: в соответствии с целью опроса сотруднику/кандидату назначаются тесты, нацеленные на изучение конкретных личностных качеств и требуемых компетенций. Возможность контролировать время проведения тестирования</li>
<li>ясность и конкретность: в результате проведенных обследований Вы будете получать однозначные и понятные рекомендации</li>
<li>оперативная техническая поддержка</li>
<li>бесплатное обновление</li>
</ul>
<h2 style="text-align: center">Вы сможете без привлечения кадровых агентств, без значительных временных и материальных затрат сформировать сплоченную команду профессионалов, способную решать задачи именно Вашего предприятия оперативно и эффективно!</h2>
        </div>
</div>
</asp:Content>
