﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.master" AutoEventWireup="true" CodeBehind="OurTeam.aspx.cs" Inherits="ProfessorTesting.OurTeam" %>

<asp:Content ID="Content6" ContentPlaceHolderID="MainContent" runat="server">
    <div class="main noselect" onmousedown="return false;" onclick="return true;" oncopy="return false;">
        <center><h2>Наша команда</h2></center>
    <asp:Repeater runat="server" ID="TeamMembers" DataSourceID="TeamMembersDS" OnItemDataBound="TeamMembers_ItemDataBound">
        <ItemTemplate>
            <div class="team_member">
                <asp:Image runat="server" ID="MemberPhoto" CssClass="member_photo" />
                <span class="member_name"><asp:Literal runat="server" ID="MemberName" Text='<%# Eval("TeamMemberName") %>'></asp:Literal></span>
                <asp:Literal runat="server" ID="Info" Text='<%# Eval("Info") %>'></asp:Literal>
                <asp:HyperLink runat="server" ID="MoreButton" CssClass="link_button" Text="Подробнее" NavigateUrl="javascript:void(0);"></asp:HyperLink>
                <asp:Panel runat="server" ID="MoreInfo" CssClass="invisible">
                    <asp:Literal runat="server" ID="HiddenInfo" Text='<%# Eval("HiddenInfo") %>'></asp:Literal>
                    <div><asp:HyperLink runat="server" ID="HideInfo" CssClass="link_button" Text="Скрыть" NavigateUrl="javascript:void(0);"></asp:HyperLink></div>
                </asp:Panel>
                <div class="separator"></div>
            </div>
        </ItemTemplate>
    </asp:Repeater>
    <asp:SqlDataSource runat="server" ID="TeamMembersDS" ConnectionString='<%$ ConnectionStrings: MyConnectionString %>'
        SelectCommand="select TeamMemberName, ImageFile, Info, HiddenInfo from dbo.TeamMembers order by SortOrder, TeamMemberName">
    </asp:SqlDataSource>

    <a href="javascript:void(0);" onclick="$('#pastPOV').show(300);" class="header_button">Наши взгляды на систему оценки, отбора персонала в прошлом</a>
    <div id="pastPOV" class="invisible">
<p>В начале 90-х годов, почти треть всех работающих в России - акцентуированные личности, то есть лица, занимающие промежуточное положение по своим психическим особенностям между лицами с психическим отклонением и среднестатистической личностью. При этом некоторые акцентуации способствуют достижению высот профессионализма, а некоторые - предопределяют профессиональную деформацию личности, низкий профессионализм и даже непрофессионализм, несмотря на наличие профессиональных знаний. Для каждого типа личности, для каждой профессии сочетание этих акцентуаций всегда индивидуально.</p>
<p>Профессионально-психологический отбор и оценка личности - многофункциональная задача. В настоящее время очевидно, что отбор только по уровню знаний явно недостаточен, если только на выходе планируется иметь не научного работника, а личность, способную работать с людьми, обладающую необходимыми организаторскими качествами и другими личностными особенностями, соответствующими требованиям профессиограммы, акмеограммы. Ведь именно в личностных качествах кроятся основные причины профессиональной деформации.</p>
<p>Исследования показали, что среди лиц, стремящихся в систему госслужбы с 1995 года резко возрос процент шизоидов и других акцентуированных личностей. Так, шизоиды составляют до 14% от контингента, приходящего в госслужбу. Есть случаи, когда от таких лиц попросту избавляются, направляя их на очередную работу. При этом знания шизоидов могут быть блестящими, блестяще они могут и проявлять себя в некоторых видах деятельности.</p>
<p>Это касается и паранойяльно акцентуированных черт личности: в некоторых условиях, ситуациях они могут помогать личности успешно руководить, а в некоторых - стать причиной их профессиональной деформации. Каждый четвертый с чертами паранойяльной акцентуации личности явно непригоден для работы с людьми. Но наличие черт паранойяльности не всегда бывает противопоказанием для успешной управленческой деятельности. Более того, умеренные паранойяльно акцентуированные черты личности присутствуют в личности успешного руководителя.</p>
<p>Многие акцентуации личности являются ключевыми в понимании профессиональной предрасположенности человека. Поэтому применение методики MMPI (Минесотского многофазного личностного опросника) в интересах отбора является оправданным и необходимым.</p>
<p>Однако наличие той или иной акцентуации, даже при высоких значениях шкалы методики MMPI, далеко не всегда служит противопоказанием для той или иной деятельности. Личность человека в процессе профессиональной деятельности включает механизмы компенсации и гиперкомпенсации, которые позволяют и при наличии каких-то неблагоприятных для данного вида деятельности акцентуаций, умело их блокировать.</p>
<p>Как же реально увидеть компенсаторные механизмы личности? Это позволяет сделать биографический метод исследования. В биографии человека отражается сущность его личности, его устремления, характерологические черты, возможности по мобилизации личности в трудные периоды жизненного пути, степень активности человека в тот или иной жизненный период и т.д. Одним словом, биография – раскрытая книга жизненных сил человека. Поэтому использование биографического метода вкупе с методом по диагностике психических отклонений, акцентуаций черт личности является жизненно необходимым и минимальным набором тестовых методик для решения задач психодиагностики.</p>
<p>Возможности личности по овладению курсом обучения, по успешному вхождению в профессию, которую она выбрала для обучения, зависят и от наличия определенного уровня интеллектуальных способностей. Однако чрезмерное увлечение интеллектуальными тестами имеет и негативный оттенок. Дело в том, что, начиная где-то со значения 120 IQ (коэффициента интеллектуальности), статистически чаще личностные акцентуации человека входят в зону риска с точки зрения его успешной работы.</p>
<p>Поэтому абсолютизация высоких значений, показателей при решении интеллектуальных тестов малоперспективна. Это имеет отдаленные негативные последствия, приводит к тому, что из хорошего ученика получается посредственный руководитель, специалист по работе с людьми.</p>
<p>И еще один довод в пользу осторожности при интерпретации результатов интеллектуального тестирования. Дело в том, что достаточно надежные и валидные интеллектуальные тесты требуют весьма продолжительного времени для их выполнения. Результаты становятся достаточно надежными при более чем часовом выполнении интеллектуальных заданий в силу различных стилей интеллектуальной деятельности у людей, в силу различных темпов их научаемости и других личностных отличий. Идти по этому пути часто бывает проблематично.</p>
<p>Поэтому при отборе часто важно применять интеллектуальные тесты, "снимающие" глубинные структуры интеллекта и работающие по принципу противопоказания (нет минимума интеллектуальных способностей - противопоказание, которое должно перепроверяться результатами сдачи экзаменов, психобиографическим методом, беседой и др.).</p>
<p>При наличии времени для тестирования хорошим подспорьем для психолога является методика Кэттелла. У этой методики есть свои достоинства и недостатки. Но, как показала практика при диагностике лучших руководителей, эта методика может быть весьма полезной. Так, для лучших характерна высокая саморегуляция, самоконтроль и низкая психическая напряженность. И данные качества достаточно точно диагностируются данной методикой.</p>
<p>При оценке личности, особенно взрослых людей, имеющих достаточный практический опыт, осознающих свои способности, возможности, было бы неправильным недоучитывать и их самооценку. Поэтому методика отбора может включать и анкету по формализованной оценке своих личностных особенностей, профессиональных навыков, умений, знаний. Как показал опыт, эта информация бывает полезной, интересной, позволяющей глубже понять личность обследуемого.</p>
<p>Результаты психодиагностики используются не сами по себе, а в комплексе с результатами собеседования, в контексте всей информации, которая имеется о личности.</p>
<p>Особое место в методической системе психодиагностики должен занимать психобиографический метод исследования. Это связано с рядом причин.</p>
<p>Во-первых, в биографии человека отражаются его основные жизненные достижения, в том числе и в профессиональной сфере деятельности. В этом смысле анализ биографии дает порой больше, нежели любой другой тест, так как в биографии отражены реальные результаты деятельности личности.</p>
<p>Во-вторых, биографические данные позволяют судить о силе личности, ее ЭГО. В то же время сила личности является важным параметром при прогнозировании результатов ее деятельности, в том числе и в профессиональной сфере. Личности с более высоким ЭГО способны компенсировать свои недостатки, недостаточно выраженные способности в том или ином виде деятельности, и добиться в профессии больше, чем личности недостаточно активные, энергичные, недостаточно личностно, характерологически сильные.</p>
<p>В-третьих, биографические данные можно и нужно соотносить с результатами психодиагностики методикой MMPI. Этот симбиоз позволяет повысить точность как методики MMPI, так и прогноза на основе биографических данных. Так, если высокая паранойяльность сочетается с частыми сменами места работы, взысканиями и др., то следует одно умозаключение. Если же выраженная паранойяльность сочетается с успешной, длительной деятельностью, то можно сделать предположение о высоких компенсаторных возможностях личности, о том, что настойчивость, склонность к концентрации своих сил на достижении определенной цели помогает этому руководителю (профессионалу), а не вредит ему.</p>
<p>В-четвертых, биографические данные в предложенной методике формализованы, квантифицированы. Это дает возможность широко использовать возможности новых информационных технологий, реализовать индивидуально-статистический метод при изучении личности. Суть этого метода заключается в том, что собранная информация активно используется и при прогнозе на конкретную личность и при оценке всего контингента, что раньше делалось с помощью дополнительных методов исследования, главным образом социологических.</p>
<p>В-пятых, тестирование предполагает непосредственное исследование личности квалифицированным специалистом. В то же время предлагаемый вариант биографического метода может быть использован со временем и для заочной диагностики предрасположенности личности к практической деятельности. В этом случае биографическая анкета может заполняться заочно, бесконтактно и высылаться в нужное место. Это можно делать и в компьютерном варианте по модему или в сети Интернет. Поэтому включение в методическую систему биографического метода перспективно и с точки зрения развития методической системы отбора. Для судей должна быть создана отдельная биографическая анкета.</p>
<p>В-шестых, существует явное противоречие между качествами личности, которые диагностируют большинство современных психологических тестов и качествами личности, которые предопределяют успех деятельности. Большинство этих качеств - ответственность, добросовестность, трудолюбие и др. - достаточно точно не диагностируются современными методиками. В то же время биографический метод нацелен на познание самых существенных качеств человека, его сущностных характеристик, стержневых качеств, основных результатов его деятельности, которые являются и основными критериями при оценке личности человека.</p>
<p>Таким образом, в биографии отражается сущность человека, основные качества личности, причем такие, которые являются центральными при оценке личности.</p>
<p>Конечно, личность весьма сложна и индивидуальна. Считать, что с помощью перечисленных методов (наблюдение, психобиографический, тестирование, анализ результатов деятельности, экспертная оценка, анализ документов, эксперимент) можно получить исчерпывающую информацию о каждом - явное преувеличение. Профессионально важные особенности каждой конкретной личности могут варьировать в весьма широком диапазоне. Для их познания необходимы порой весьма разнообразные тесты, причем для каждой конкретной личности, для каждой конкретной ситуации - различные.</p>
<p>Как бы не были точны психодиагностические методы исследования личности, все же они играют вспомогательную роль для лиц, участвующих в собеседовании, принимающих окончательное решение. Только разговор умного подготовленного психолога, акмеолога, специалиста своего дела, предполагающий опору не только на результаты психодиагностики, комплексного обследования, но и на свой жизненный опыт, на интуицию, - дают окончательное, достаточно взвешенное решение. Доверие к психодиагностическим, статистическим методом исследования не должно заслонять доверия к личностям, которые проводят отбор или оценивание, отвечают за него.</p>
<p>Таким образом, личность может быть реально оценена следующими методами:<br />
- методом экспертной оценки;<br />
- методом самооценки;<br />
- методом тестирования;<br />
- биографическим методом.<br />
- методами наблюдения и беседы.</p>
<p>В своей совокупности эти методы составляют основу методической системы кадровой психодиагностики.</p>
<p>Кроме самих методов эта система включает в себя и порядок применения методов исследования, изучения личности, организацию обследования, способы обобщения полученных результатов, порядок формирования окончательного решения и другие элементы.</p>
<p>Кроме акцентуированных личностей есть немало лиц, которые не выдержали психического напряжения практической работы, порой резкого падения статуса своей личности, изменения системы ценностей и в силу этого претерпели профессиональную деформацию. По нашим данным до 10% всех госслужащих нуждаются в постоянной психологической, психиатрической помощи. Естественно, такие лица нередко видны по профилю методики MMPI, по результатам тестирования, но нередко для их более глубокого понимания нужны иные методы исследования, включая и самые сложные - применение проективных методик, методов психоанализа и др. И в каждом конкретном случае необходимы взвешенные решения, выделение высококвалифицированных психологов, времени, места для углубленной работы их с такими лицами.</p>
<p>Таким образом, методика изучения личности не может сводится к применению стандартного набора методов, но допускать высокую их вариабельность в зависимости от психологических особенностей конкретной личности, от наличия высококвалифицированных психологов, от сложившейся ситуации на отборе.</p>
<p>Методика изучения должна быть нацелена не только на определение способности, готовности к овладению сумой даваемых знаний, навыков, умений, но на нечто большее - готовности, способности стать высококлассным специалистом. Поэтому уже при приеме методика диагностики личности должна включать в себя:<br />
- методы определения уровня знаний, достаточных для профессиональной деятельности;<br />
- методы диагностики уровня и характера опыта в управленческой деятельности;<br />
- методическая система диагностики личностных качеств, обеспечивающих успех профессиональной деятельности.</p>
<p>Такая структура общей методической системы отбора оправдана.</p>
<p>Изучение будущих сотрудников не есть самоцель. Это есть средство отбора наиболее достойных, средство повышения качества управленцев среднего и высшего уровня. И методической системой их изучения надо пользоваться как средством, а не как неким самодавлеющим монстром. Ответственность за эффективность, этичность, целесообразность такой системы, ее практичность, научность, гуманность в конечном счете несут конкретные люди, которые допущены к отбору.</p>
<p>Роль и значимость специалиста-психолога, акмеолога при этом - центральная, решающая.</p>
<p>Современные тесты неплохо работают при диагностике индивидуально-психических особенностей личности, однако оказываются не столь эффективными, когда речь идет о диагностике профпригодности личности, о психопрогностике успеха ее в том или ином виде деятельности. Данные недостатки многих современных тестов испытала акмеология. Все это вынуждает не просто брать достижения современной тестологии, а проводить подобные исследования в рамках акмеологии, делая упор на диагностику "акме" личности в тех или иных видах профессиональной деятельности. Задача эта исключительно сложна и ее решение требует как опору на достижения современной тестологии, так и на достижения в области создания экспертных систем и в ряде других областей современной науки.</p>
<p>По мере накопления экспериментальных данных стала очевидна концептуальная недостаточность некоторых сугубо психологических, тестологических подходов к изучению личности, ее профессиональной деятельности. В силу этого появление концепции факторно-куммулятивных причин в тестологии закономерно и естественно.</p>
<p>Статистические основы классической тестологии, чаще связанной с концепцией факторных причин. Имплицитно суть данной концепции сводится к следующему. На деятельность, поведение личности влияют различные факторы - внутренние и внешние.</p>
<p>Внутренние факторы это главным образом личностные и интеллектуальные качества личности, ее физиологические и биологические особенности. Поэтому для психодиагностики важно выявить уровень и характер развития этих факторов у конкретного человека.</p>
<p>В рамках психодиагностики речь идет о выявлении уровня и характера развития психических качеств личности, в том числе и интеллектуальных. Имплицитно в рамках данной концепции витало убеждение, что чем "лучше" развито то или иное качество личности, тем выше результат ее деятельности, в том числе и профессиональной. Нередко это так и есть. Так чем точнее слух у
музыканта, тем выше, при прочих равных условиях, результаты его профессиональной деятельности. Чем выше интеллект, профессиональные знания тем выше, при прочих равных условиях, результаты профессиональной деятельности ученого и т.д. Предположение здравое. Однако эффекта прочих равных условий практически не бывает: все люди очень разные и более оптимальный уровень развития одного качества сочетается как правило, с менее высоким уровнем развития другого. Так лица с более высоким интеллектом с детства привыкают полагаться на свой интеллект, у многих из них повышается самооценка, формируется идивидуалистичный стиль деятельности, накапливается в подсознании самоуверенность и т.д. И в процессе реальной профессиональной деятельности уже эти накопленные негативные качества становятся тормозом профессионального прогресса личности в соответствии с уровнем развития своего интеллекта.</p>
<p>Не случайно все школы вундеркиндов, куда набирали детей с исключительно высоким значением IQ по интеллектуальным тестам, не дали более высокого процента выдающихся лиц по сравнению с обычными школами. Исключение представляют элитные учебные заведения ведущих стран мира, но скорее по социальным причинам, нежели по психологическим.</p>
<p>Применительно к большинству профессий, эффект явного противопоказания проявляется при IQ менее 100, то есть успешный специалист должен быть интеллектуально эффективнее среднестатистического гражданина.</p>
<p>В соответствии с концепцией факторных причин должна наблюдаться связь: определенный уровень развития профессионального качества личности - определенный уровень профессионального мастерства. В статистическом плане, на массиве большого количества случаев эта связь действительно проявляется, но как только речь заходит о конкретной личности - вмешиваются другие факторы, снижающие точность психодиагностики, валидность методики до неприемлемого уровня.</p>
<p>Попытки найти какие-то качества личности, которые бы рельефно коррелировали с результатами той или иной профессиональной деятельности оказались малоуспешными в мировой психологии. Поэтому в большинстве случаев тесты, построенные по эффекту факторных причин, прогностичны УСЛОВНО по тому или иному качеству личности, но не на тот или иной вид профессиональной деятельности. Данная фраза требует пояснения.</p>
<p>Условность прогностичности по тому или иному качеству личности определяется неоднозначностью, противоречивостью, пластичностью самого этого качества личности. Так нередко (около 10 процентов среди лиц в возрасте от 20 до 35 лет) показывают противоречивые данные по шкале А Кэттелла (общительность) и О шкале ММРI (социальная интроверсия, практически общительность также). Низкие результаты по шкале A теста Кэттелла (диагностирует низкую общительность) может сопровождаться оптимальным уровнем профессиональной общительности.</p>
<p>Есть уникальные случаи педагогической деятельности - блестящий преподаватель полностью выкладывается на занятии, смело и легко общается с аудиторией, исключительно интенсивно, содержательно, но в кругу семьи, товарищей он предпочитает отмалчиваться, проявляя черты интроверсии. И в этом нет ничего странного: проявляется хорошо известный эффект компенсации и гиперкомпенсации.</p>
<p>Поэтому применив тот или иной тест, диагностирующий качества личности, порой нельзя сказать что-то вразумительное по поводу успехов профессиональной деятельности. Однако если нет определенного уровня развития какого-то важного качества личности, то это служит противопоказанием для той или иной профессиональной деятельности. Так без музыкального слуха нельзя стать выдающимся или даже талантливым музыкантом, без определенного уровня развития способности к умозаключениям, без определенного уровня развития интеллектуальных способностей нельзя стать не только хорошим ученым, но и посредственным инженером и т.д.</p>
<p>Концепция факторных причин работает по принципу противопоказания, когда речь идет о диагностике прфессиональной предрасположенности к той или иной деятельности. Уровень же противопоказания весьма динамичен и, как правило включает в себя не только тот или иной уровень развития ведущего для данной профессиональной деятельности качества личности, но и тех, которые сопутствуют ему.</p>
<p>Одним словом в индивидуальном стиле профессиональной деятельности удивительно диалектично переплетаются, аккумулируются многочисленнейшие качества личности, которые делают попытку спрогнозировать ее успешность по одному или даже нескольким качествам малоперспективной.</p>
<p>Однако это не говорит о бесполезности, о ненужности тестов, методик, построенных в соответствии с концепцией факторных причин. Отдельные, особо важные для той или иной профессии качества личности можно и нужно диагностировать этими методиками, но, понимая, что они работают по принципу РАЗМЫТОГО ПРОТИВОПОКАЗАНИЯ.</p>
<p>Итак, наличие низкого уровня развития профессионально важного качества личности служит вероятностным признаком недостаточно эффективной профессиональной деятельности, но с определенного уровня связь "профессиональное качество личности - уровень профессионального мастерства" становится все более и более опосредованной другими параметрами, обстоятельствами, качествами личности. Одним словом - плохой слух служит явным вероятностным признаком неуспеха в музыкальной деятельности, но хороший еще не является достаточным основанием для успеха: как много лиц с прекрасным слухом, но так и оставшихся несостоявшимися музыкантами...</p>
<p>Концепция факторных причин в психологии в имплицитной форме присутствует в теоретических воззрениях всех авторов классических тестов. Подразумевается, что в личности есть определенные качества, параметры, которые измеряются тестами.</p>
<p>Степень выраженности этих качеств, параметров может быть различной. Каждое из этих качеств диагностируется той или ной шкалой теста. Так тест Кэттелла диагностирует 16 таких параметров, и в силу этого называется 16-факторным личностным опросником. В принципе данная концепция построена на здравых рассуждениях и очевидных фактах: крайне низкий уровень общительности личности может служить непосредственной причиной ее недостаточно эффективной деятельности в той или иной профессии.</p>
<p>Но статистика, опыт показали, что так бывает в крайних, а в силу этого и в редких случаях. В большинстве случаев люди имеют нормальный уровень развития тех или иных качеств, а низкий уровень развития одних компенсируется более высоким уровнем развития других. Поэтому когда прогноз дается на ту или иную деятельность, принципиально важно аккумулировать в этом прогнозе влияние всего многообразного спектра качеств личности (влияние общительности, трудолюбия, упорства, интеллекта и т.д. и т.п.) Это с одной стороны.</p>
<p>С другой стороны, на уровень развития того или иного качества личности влияет масса самых разнообразных параметров: особенности воспитательного влияние матери, отца, брата, сестры, дедушки, бабушки, друзей, товарищей, учителей, генетической предрасположенности и т.д. и т.п. Этих факторов сотни, тысячи, десятки тысяч, и все это многообразие факторов влияет на развитие того или иного качества личности, предопределяет успех той или иной деятельности.</p>
<p>Экспериментальные исследования показали, что отдельными, наиболее выраженными факторами можно удовлетворительно объяснить до 30-40% особенностей поведения личности, прогноз же на основе эффекта куммулятивных причин - когда учитывается сочетание десятков, сотен разнообразных микрофакторов - оправдывается в 70-60% случаев (если он делается научно, корректно).</p>
<p>Конюхов Н.И.</p>
        <a href="javascript:void(0);" onclick="$('#pastPOV').hide(300);" class="link_button">Скрыть</a>
    </div>
    <div class="separator">&nbsp;</div>
    <a href="javascript:void(0);" onclick="$('#todayPOV').show(300);" class="header_button">Наши современные взгляды на систему оценки, отбора персонала</a>
    <div id="todayPOV" class="invisible">
<p>На практике кадровые органы пользовались пользуются и будут пользоваться изучением жизненного пути, биографии людей. Данный метод оказался практичным, прогностичным. Его жизненность подтвердила практика. Научные исследования показали так же, что наибольшую валидность, эффективность при оценке  людей  показывает так же биографический метод (см. Конюхлв Н.И., Шакуум М.Л. Акмеология и тестология. – М.: 1996. – 360 c.). На его базе созданы экспертные системы. Биографический метод – безусловный лидер при бесконтактном, заочном изучении личности.</p>
<p>Прорывом в практике изучения людей стало применение экспертных систем на базе электроэнцефалографических исследований. (См.: Конюхов Н.И. Человек в вихрях эфра. М.: 2016. – 437 с.).</p>
<p>Получив ЭЭГрамму в состоянии покоя и в состоянии активной профессиональной деятельности, можно многое сказать о личности, о ее профессиональной пригодности. Особо важны данные о способности личности качать энергию эфира. Это ведущее качество успешного рукводителя.</p>
<p>Есть достижения и в экспертных оценка людей. Появились методы, которые «снимают» мнение отвечающих экспертов «минуя их сознание». Отсюда полученные оценки становятся более объективными. Ибо сознание всех людей привыкло деформировать истину в своих интересах.</p>
<p>С помощью этих и других методик удалось создать практические системы оценки людей, получения объективной информации для принятия обоснованных управленческих решений. Эта информация может быть получена за короткий срок, в массовом масштабе с учетом финансовых возможностей организации.</p>
<p>Наибольшую сложность в понимании созданной методической системы представляет собой  метод электроэнцефалографических исследований. В силу этого далее приводятся выдержки из книги «Интеллект руководителя: практикам и исследователям». Одна глава описывает предлагаемую систему диагностики. А две главы – ее наиболее сложную для понимания часть, связанную с применением ЭЭГ. Эта же проблема описана в работе Человек в вихрях эфира.</p>
<p class="header_text"><a href="javascript:void(0);">Главы из книги “ИНТЕЛЛЕКТ РУКОВОДИТЕЛЯ: практикам и исследователям».</a></p>
        <a href="javascript:void(0);" onclick="$('#todayPOV').hide(300);" class="link_button">Скрыть</a>
    </div>
    </div>
</asp:Content>
