﻿<%@ Page Language="C#" AutoEventWireup="true" 
Inherits="Ban" Codebehind="BanUser.aspx.cs" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
</body>
</html>